pandas
numpy
scikit-learn
tensorflow
joblib
gdown
requests
beautifulsoup4
lxml
yfinance             # For future stock price fetching
python-telegram-bot  # If you move from requests to bot library
python-dotenv
